:root{
    --grey-blue: #42526E; 
    --black: #000000;
}

/* This CSS file is used for index and interest html */
header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    text-align: center;
    padding: 1px;
    border: 1px solid var(--black);
    background-color: var( --grey-blue);
    color: #ffffff
}
h1{
    font-family: RGFont;
    font-size: 50px;
}
body{
    background-color: black;
    color: white;
}
body.below-body{
    padding-top: 150px;
    background-color: var(--grey-blue);
}
main{
    margin-top: 125px;
    border: 3px solid #000000;
    background-color: var(--grey-blue);
    
}
p.right{
    text-align: center;
}
.image-text-container {
    display: flex;
    align-items: center; /* Align image and text vertically */
    gap: 15px; /* Space between image and text */
    color:#d8d8d8;
    font-family: RGFont;
    background-color: #000000;
}

.image-text-container picture img {
    width: 250px; /* Adjust image size as needed */
    height: auto;
}

.image-text-container p {
    flex: 1; /* Make the text take up the remaining space */
    font-size: 18px;
    color: white;
}
h2, h3{
    font-size: 25px;
    font-weight: bold;
}
/* Used in index.html to Home, etc */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8px;
    gap: 15px;
}
nav a{
    text-decoration: none;
    padding: 5px 5px;
    margin: 1px 0px;
    border: 2px solid var(--black);
    background-color: #ffffff;
    color: var(--black);
}


/* Goes from column to row if pixels are 520 */
@media (max-width: 520px) {
    nav a {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; /* Allow items to stack on smaller screens */  
    }
    .course-div{
        margin-top: 180px;
    }
}

.nav a:hover{
    background-color: rgb(38, 42, 255);
}
div.center{
    flex-direction: row;
}
div.projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 3px solid var(--black);
}
body.black{
    background-color: var(--black);
    padding: 1px 2px;
    color: white;
    padding-top: 150px;
}
img.center{
    display: block;
    border: 5px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    /* width: 35%; */
    width: 55dvh;
    
}
#app{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
}
#frame{
    margin: 0 0;
    padding: 0 0;
    width: 130%;
    color: white;
    font-family: RGFont;
    background-color: #000000;
}

#border{
    border: 3px solid var(--black);
}

#box{
    border: 3px solid var(--black);
    flex: 1;
    padding: 1px 5px;
    margin: 1px 1px;
    background-color: rgb(210, 206, 206);
    transition: all 1s ease-out;
    font-size: 30px;
    font-weight: bold;
}
#box:hover{
    background-color: white;
}
#box2{
    border: 3px solid var(--black);
    padding: 2px 20px;
    font-weight: bold;
}
.blink_me{
    text-align: center;
    padding: 1px 1px;
    background-color: rgb(217, 217, 217);
    color:black;
    margin: 1px 1px;
    border-style: outset;
    animation: blinker 2s linear infinite;
}
@keyframes blinker{
    80%{
        opacity: 50;
    }
}
#center-title{
    text-align: center;
    color:#000000;
    font-size: 40px;
    padding: 1px 1px;
    background-color: rgb(217, 217, 217);
    margin-bottom: 1px;
    border-style: outset;
    font-family: RGFont;
}
#white-border{
    border: 3px solid #ffffff;
    margin: 1px 10px;
}
#date{
    border: 2px solid var(--black);
    text-align: center;
    color: #ffffff;
    background-color: var(--grey-blue);
}

@font-face {
    font-family: RGFont;
    src: url(RGFont-Regular.ttf);
}

#grid-img{
    display: flex;
    flex-direction: row;
    background-color: #000000;
    color:white;
}
img,figcaption {
    display: inline-block;
    vertical-align: text-top;
    font-family: RGFont;
    font-size: 30px;
  }
p{
    font-family: RGFont;
    font-size: 30px;
}
#content {
    display: flex;
    justify-content: center; /* Centers the article in the container */
}
#theater-page{
    text-align: center;
}

article {
    display: flex;
    flex-direction: column; /* Keeps the heading and paragraph stacked */
    align-items: center; /* Centers heading and paragraph */
}

.image-container {
    display: flex;
    justify-content: center; /* Centers images inside the container */
    gap: 20px; /* Adds space between the images */
    
}

.glow {
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 1px 1px;
    margin: 1px 1px;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0800e6, 0 0 40px #0047e2, 0 0 50px #006fe6, 0 0 60px #3a00e6, 0 0 70px #0082e6;
    }
    
    to {
      text-shadow: 0 0 30px #fff, 0 0 30px #4d5cff, 0 0 40px #4526f8, 0 0 50px #053fbc, 0 0 60px #4d85ff, 0 0 70px #120bdc, 0 0 80px #4d7aff;
    }
  }

  hr{
    color: white;
  }

  img.frame{
    border-style: ridge;
    border-right-width: 4px;
}

input:user-invalid{
    border: 2px solid red;
}
input:user-invalid + span:before{
    content:"✖";
    color: red;
}

input:valid + span:before{
    content:"✅";
    color: rgb(17, 169, 4);
}

input:invalid + span:before{
    content:"✖";
    color: red;
}

input:required, textarea:required {
    border-left: 4px solid red;
}
input:valid, textarea:valid {
    border-left: 4px solid green;
}
input:invalid, textarea:invalid {
    border-left: 4px solid green;
}




.myPDF{
    width: 85%;
    height: 975px;
}
button:focus{
  outline:none !important;
}

button.app-button {
 bottom:2%;right:2%;padding:15px;background-color:#4c63c1;border:none;border-radius:25px;font-weight:500;font-size:14px;color:#fff;box-shadow:0px 0px 10px gray
  
}
/* button:focus{
  outline:none !important;
}

button.app-button {
 position:fixed;bottom:2%;right:2%;padding:15px;background-color:#4c63c1;border:none;border-radius:25px;font-weight:500;font-size:14px;color:#fff;box-shadow:0px 0px 10px gray
  
} */



/* ---------- [ Slide Show Code ]-------- */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  left: -30px;
  right: 10px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* padding: changes the size of the arrows (rectangle) */
.prev, .next {
  cursor: pointer;
  position: absolute; 
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px; 
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
#vlc-nav{
  background-color: white;
  padding: 5px 10px;
  border:solid 2px black;
}
#label-nav{
  background-color: white;
  padding: 10px;
  border:solid 2px black;
}
#li{
  text-align: -webkit-match-parent;
  display: list-itme;
  text-indent: -1em;
}
ol{
  margin-left: 0px;
}

nav a:hover{
  font-size: 2rem;
  color:#f2f2f2;
  background-color: black;
  border-radius: 5px;
}